<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>All stuff</h1>
  <a routerLink="/new-item" mat-button>NEW PRODUCT</a>
</div>

<div class="error" *ngIf="error | async">{{ error | async}}</div>

<mat-progress-spinner
  *ngIf="loading | async else productsArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #productsArea>
  <div fxLayout="row wrap" fxLayoutGap="10px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let product of products | async"
    >
      <mat-card>
        <mat-card-title>{{ product.title }}</mat-card-title>
        <img
          [src]="product.image | image"
          [alt]="'Photo of ' + product.title"
          mat-card-image
        />
        <mat-card-content>
          <mat-card-title>Price: <strong>{{ product.price }} KGS</strong></mat-card-title>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <a
            [routerLink]="['/products/', product._id]"
            mat-button
          >VIEW</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>
