<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Product</h1>
</div>

<div class="error" *ngIf="error | async">{{ error | async}}</div>

<mat-progress-spinner
  *ngIf="loading | async else productArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #productArea>
      <mat-card fxLayout="row wrap" fxLayoutAlign="space-between center">
        <img [src]="productId.image | image" [alt]="'Photo of ' + productId?.title" mat-card-sm-image/>
        <mat-card-title>{{ productId?.title }}</mat-card-title>
        <mat-card-subtitle>{{ productId?.description }}</mat-card-subtitle>
        <mat-card-subtitle>Price: {{ productId?.price }}</mat-card-subtitle>
        <mat-card-subtitle>Call to seller: {{ productId?.displayName }}</mat-card-subtitle>
        <mat-card-subtitle>Seller name: {{ productId?.phoneNumber }}</mat-card-subtitle>
      </mat-card>
</ng-template>
